@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@100;300;400;500;700;900&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f6f7fb;
  font-family: 'Mulish', sans-serif;
  overflow: hidden;
}
